.bakgrunn {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.real18>.bakgrunn {
    background-image: url(../bilder/real18.jpg);
}

.lfc>.bakgrunn {
    background-image: url(../bilder/lfc19.jpg);
}

.bayern>.bakgrunn {
    background-image: url(../bilder/bayern20.jpeg);
}

.cfc>.bakgrunn {
    background-image: url(../bilder/cfc21.jpg);
}

.real22>.bakgrunn {
    background-image: url(../bilder/real22.jpg);
}

.mancity>.bakgrunn {
    background-image: url(../bilder/manCity23.jpg);
}

.real24>.bakgrunn {
    background-image: url(../bilder/real24.jpg);
}

.content>main {
    position: relative;
    z-index: 1;
    color: white;
}

h3 {
    font-size: 50px;
    background: linear-gradient(to left, purple, blue);
    background-clip: text;
    color: transparent;
}

.topp {
    padding: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-house {
    background: linear-gradient(to right, purple, blue);
    background-clip: text;
    color: transparent;
}

.AV {
    background: linear-gradient(to right, rgb(162, 1, 162), blue);
}

.vinnere {
    width: 40%;
    margin: 10px;
    border: 2px solid white;
}

.sesonginfo {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 15px;
    max-width: fit-content;
    border: 2px solid blueviolet;
}

.sesonginfo h2 {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.sesonginfo p {
    font-size: 18px;
    line-height: 1.8;
}

.sideInnhold {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.turneringBildeBoks {
    align-items: center;
    max-height: 370px;
    width: auto;
    margin: 30px;
    border-radius: 15px;
}

.spillerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid goldenrod;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

h4 {
    color: goldenrod;
    font-size: 40px;
}

h5 {
    background: linear-gradient(to right, purple, blue);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    margin-bottom: 20px;
}

.pil {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



/* faktaboks */
.fakta-boks {
    margin: 15px;
    top: 15%;
    left: 45%;
    z-index: 20;
}

.fakta {
    font-size: 20px;
}

.fakta-minimal {
    background-color: rgba(1, 1, 101, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.fakta-minimal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.fakta-full {
    background-color: rgba(0, 1, 9, 0.95);
    color: white;
    width: 600px;
    max-height: 0;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 12px;
    padding: 0px 20px;
    transition: max-height 0.5s ease-in-out, padding 0.3s;
    position: relative;
}


.fakta-boks.aktiv .fakta-full {
    max-height: 700px;
    padding: 35px;
    padding-top: 10px;
}


.fakta-full button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fakta-full button i:hover {
    color: #8a2be2;
}

.sirkel {
    background: linear-gradient(to right, purple, blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-info {
    color: white;
    font-size: 20px;
}

.omUCL {
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1100px) {
    .sideInnhold {
        flex-direction: column;
    }

    .sesonginfo {
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100vw;
        height: auto;
        padding: 20px;
        gap: 20px;
        margin: 20px;
    }

    .spillerInfo {
        flex-direction: column;
        max-width: 500px;
        align-items: center;
    }

    .fa-solid {
        background: linear-gradient(to right, purple, blue);
        background-clip: text;
        color: transparent;
        font-size: 50px;
    }
    .fa-info{
        color: white;
        font-size: 20px;
    }
    .Gbilde{
        display: none;
    }
    .vinnere{
        height: 60%;
        width: 60%;
    }
    h5{
         font-size: 2rem;
    }

}
@media screen and (max-width: 767px) {
    h3{
        font-size: 3rem;
    }
    h5{
        font-size: 1.5rem;
    }
    .fa-solid {
        font-size: 40px;
    }
        .sesonginfo{
        flex-direction: column;
    }
}
@media screen and (max-width: 649px){
    h3{
        font-size: 2.2rem;
    }
    .fa-solid {
        font-size: 30px;
    }
    h5{
        font-size: 1.12em;
    }
}

@media screen and (max-width: 480px){
    h3{
        font-size: 1.7rem;
    }
    .fa-solid {
        font-size: 25px;
    }
    h5{
        font-size: 1rem;
    }
    h4{
        font-size: 2rem;
    }
}
@media screen and (max-width: 390px){
    .sesonginfo{
        max-width: 330px;
    }
}