@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:wght@600&display=swap');

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "oswald", sans-serif;
}
.bakgrunnsbilde{
  background-image: url('../bilder/Hoofdfoto-Champions-League.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; 
  position: absolute;
}
/* main */
.index>main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    user-select: none;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 0% center;
    border-radius: 15px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    z-index: 100;

}

.gerrard {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.3rem;
    color: rgb(181, 181, 181);
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 100;
}

.topptekst {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    top: 3%;
    left: 1%;
}

.fa-solid {
    font-size: 60px;
    background: linear-gradient(to left, purple, blue);
    background-clip: text;
    color: transparent;
}

/* burgermeny */
.indexBurger {
    position: absolute;
    top: 6%;
    right: 3%;
}

.burgerMeny {
    cursor: pointer;
}

#clMeny {
    display: none;
    position: absolute;
    top: 7%;
    right: 7%;
    background-color: rgba(0, 0, 50, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

#clMeny a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

#clMeny a:hover {
    color: #8a2be2;
}

#clMeny.vis {
    display: flex !important;
}

.dropdown {
    position: relative;
}

.sesongListe {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100px;
}

.dropdown.vis .sesongListe {
    display: flex;
}

.sesongListe a {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    width: 30%;
}

#pil {
    display: inline-block;
    transition: transform 0.5s ease;
}

.dropdown.vis #pil {
    transform: rotate(-90deg);
}

/* responsive */

@media screen and (max-width: 768px) {
    #image-track {
        position: static;
        transform: none !important;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0px
    }

    #image-track>.image {
        width: 90vw;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    .index>main {
        height: auto;
        overflow: visible;
    }

    .topptekst {
        position: static;
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .topptekst h1 {
        font-size: 2.7rem;
        padding: 0 10px;
    }
    .bakgrunnsbilde{
        display: none;
    }
    /* burgermeny */
    .indexBurger {
        top: 3%;
        right: 2%;
    }

    .fa-solid {
        font-size: 40px;
    }

    #clMeny {
        right: 5%;
        top: 60px;
        width: 250px;
        max-width: 90%;
        padding: 15px;
        font-size: 14px;

    }

    #clMeny a {
        font-size: 14px;
        padding: 5px 0;
    }

    .sesongListe {
        flex-direction: column;
        gap: 5px;
    }

    .sesongListe a {
        width: 100%;
        padding: 5px 0;
    }
}
 @media screen and (min-width: 769px) and (max-width: 1100px) {
    .topptekst {
        gap: 10px;
        padding: 10px;
    }

    .topptekst h1 {
        font-size: 1.3rem;
        max-width: 90vw;
    }
    .gerrard {
        font-size: 1.4rem;
    }

    .bakgrunnsbilde{
     background-image: url(../bilder/bakgrunn-mindre.jpg);
     opacity: 0.5;
    }
    .fa-solid {
        font-size: 40px;
        color: blueviolet;
    }
    .indexBurger{
        z-index: 100;
        position: absolute;
    }
}